<h2>Welcome to Submetrics for your store</h2>

<p>Total subscribers, 
<%= @my_metrics.total_subscribers %>
</p>
<p>Active Subscribers,
<%= @my_metrics.active_subscriptions %>
</p>
<p>cancelled_subscriptions,
<%= @my_metrics.cancelled_subscriptions %>
</p>
<p>churn,
<%= @my_metrics.churn %>
</p>



</p>total_sales this month,
<%= @my_metrics.total_sales %>
</p>
<p>prev_total_sales prior month,
<%= @my_metrics.prev_total_sales %>
</p>
<p>prev orders prior month
<%= @my_metrics.prev_sales_orders %>
</p>
